<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="com.spring_framework.music.RockMusic"
          init-method="init"
          destroy-method="destroy"
    />

    <bean id="fabric"
          class="com.spring_framework.music.FabricMethod"
          factory-method="getFabricMethod"
    />

    <bean id="rockBean"
          class="com.spring_framework.music.RockMusic"/>
    <bean id="classicBean"
          class="com.spring_framework.music.ClassicalMusic"/>
    <bean id="juzzBean"
          class="com.spring_framework.music.JuzzMusic"/>

    <bean id="playerBean" class="com.spring_framework.music.MusicPlayer">
        <!--        <constructor-arg ref="musicBean" />-->
        <property name="music" ref="musicBean"/>
        <property name="name" value="${player.name}"/>
        <property name="volume" value="${player.volume}"/>

        <property name="list">
            <list>
                <ref bean="classicBean"/>
                <ref bean="rockBean"/>
                <ref bean="juzzBean"/>
            </list>
        </property>
    </bean>

</beans>